body {
  background-color: #beb7b7;
}
.image__container {
  width: 900px;
  display: flex;
  margin: auto;
  justify-content: center;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
  margin-bottom: 50px;
  margin-top: 40px;
}
.image__container img {
  width: 100%;
  height: auto;
}
.btn--random {
  display: flex;
  margin: auto;
  width: 500px;
  height: 60px;
  border-radius: 13px;
  background-color: #e66161;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.btn--random:hover {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
  background-color: #ee3c3c;
}
